.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Retina;
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  min-height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: Retina;
  text-decoration: none;
}

.main_header {
  float: center;
}
.menu {
  float: left;
  width: 60px;
}
.search {
  float: right;
  width: 60px;
}

.subheader {
  height: 14;
  display: flex;
  align-items:center;
  font-size: 12px;
  padding: 9x;
  margin: 10px;
  text-decoration: none;
}

.language_dropdown {
  padding: 9x;
  margin: 10px;
}
.date {
  padding: 9x;
  margin: 10px;
}
.print_edition {
  padding: 9x;
  margin: 10px;
}
.video {
  padding: 9x;
  margin: 10px;

}
.latest_headlines {
  padding: 9x;
  margin: 10px;
}

@media screen and (max-width: 980px){
  .subheader{
    display: none;
  }
}

@media screen and (min-width: 980px){
  .menu{
    display: none;
  }
  .search{
    display: none;
  }
}

@media screen and (max-width: 640px){
  .bigname{
    display: none;
  }
}

@media screen and (min-width: 640px){
  .smallname{
    display: none;
  }
}